.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    overflow: hidden;
}

.modal-content {
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.modal-header h2 {
    margin: 0;
}

.close-button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
}

.close-button:hover {
    color: #333;
}

.modal-body {
    display: flex;
    padding-top: 20px;
}

.image-container {
    width: 30%;
}

.employee-avatar {
    max-width: 100%;
    border-radius: 4px;
}

.details-container {
    width: 70%;
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .modal {
        max-width: 90%;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
    }

    .details-container {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }

    .image-container {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .modal {
        max-width: 95%;
    }
}
