.container {
    display: flex;
    flex-wrap: wrap;
}

.company-info {
    flex: 1 0 300px; 
    margin-right: 20px;
}

.company-info h2 {
    margin-bottom: 10px;
}

.info-item {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.employee-roster {
    flex: 1 0 calc(100% - 320px);
}



.table-wrapper {
    overflow-x: auto;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.responsive-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.responsive-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.name-container {
    display: flex;
    align-items: center;
}

.name-container img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    
    .company-info, .employee-roster {
        flex: 1 0 auto;
        margin-right: 0;
    }
    .responsive-table {
        overflow-x: auto;
        display: block;
    }

    .responsive-table th,
    .responsive-table td {
        min-width: 150px;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/* for filter */
.filter-container {
     float: right;
     margin-bottom: 16px;
}
.search-button {
    margin-left: 16px;
    padding: 6px;
}

.search-input {
    padding: 6px;
}

/* for pagination */
.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination button {
    padding: 5px 10px;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}